
@{
    Layout = null;
}

<!DOCTYPE html>
@using flex.Models;
@model Tuple<List<student>, student, string>
<html lang="en">
<head>
    <title>Student Managment</title>
    <style type="text/css" media="screen">
        body {
            background-color: blanchedalmond;
        }

        .left_bar {
            display: block;
            width: 150px;
            height: 100%;
            background-color: cadetblue;
            top: 0;
            color: white;
            left: 0;
            position: fixed;
        }

            .left_bar a {
                color: white;
            }

        .Left_Bar1 {
            text-align: center;
            color: black;
            font-size: 1.25em;
            margin-top: 10px;
            display: block;
            text-decoration: none;
        }

        .box2 {
            width: 94%;
            margin-left: 3%;
            margin-right: 3%;
        }

            .box2 h1 {
                padding-left: 10px;
                padding-top: 20px;
                padding-bottom: 20px;
                color: white;
                background-color: cadetblue;
                font-size: 20px;
            }

        .totalHOME {
            margin-left: 150px;
            margin-right: 15px;
        }

        .box_2nd1 {
            height: 200px;
            margin-top: 30px;
            border-bottom: 2px solid red;
        }

        .box1 {
            height: 100px;
            margin-top: 30px;
            border-bottom: 2px solid red;
        }

        .totalHome h1 {
            font-size: 03px;
        }

        .mine {
            font-size: 17px;
            margin-bottom: 5px;
            margin-right: 300px;
            display: inline-block;
        }

        .margin_Top {
            margin-top: 70px;
        }

        .mine1 {
            font-size: 17px;
            margin-bottom: 5px;
            margin-right: 300px;
            display: block;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="left_bar ">
        <nav>
            <a class="Left_Bar1" href="./ThomePage">Home</a> <br>
            <a class="Left_Bar1" href="./TAttendance">Attendance</a> <br>
            <a class="Left_Bar1" href="./TTeacher">Teacher Management</a> <br>
            <a class="Left_Bar1" href="./TStudent">Student Management</a><br>
            <a class="Left_Bar1" href="./TNotification">Notifications</a><br>
            <a class="Left_Bar1" href="./TSociety">Societies</a><br>
            <a class="Left_Bar1" href="./TMarks">Marks</a><br>
            <a class="Left_Bar1" href="./TGrades">Grade Assignment</a><br>
            <a class="Left_Bar1" href="./TCourses">Courses</a><br>
            <a class="Left_Bar1" href="./TStudentLogin">StudentLogin</a><br>
            <a class="Left_Bar1" href="./TRegSociety">Reg Society</a><br>
        </nav>
    </div>
    <div class="totalHOME">
        <h3>STUDENTS INFORMATION</h3>

        <table border="1">
            <thead><tr><td>Name</td> <td>Gender</td><td>Address</td><td>RollNo</td><td>Section</td><td>CNIC</td><td>Email</td><td>DNO</td></tr></thead>

            @foreach (student s in Model.Item1)
            { 
                <tr>
                    <td>@s.name</td>
                    <td>@s.Gender</td>
                    <td>@s.Address</td>
                    <td>@s.RollNo</td>
                    <td>@s.Section</td>
                    <td>@s.CNIC</td>
                    <td>@s.Email</td>
                    <td>@s.DNO</td>
                </tr>
            }

        </table>
        <br /><br />
        <h3>TO ADD A STUDENT, FILL IN THE DETAILS</h3><br />
        <form method="post" action="./AddStudent">
            <b>
                <label style="color:black"> Name:<br /> </label> &nbsp;&nbsp;&nbsp <input placeholder="Name" id="name" name="name">
                <br />
                <br />
                <label style="color:black"> Roll:<br /></label> &nbsp;&nbsp;&nbsp <input placeholder="Roll" id="Roll" name="Roll">
                <br />
                <br />
                <label style="color:black"> Address:<br /></label> &nbsp;&nbsp;&nbsp <input placeholder="Address" id="Address" name="Address">
                <br />
                <br />
                <label style="color:black"> Email:<br /> </label> &nbsp;&nbsp;&nbsp <input placeholder="Email" id="Email" name="Email">
                <br />
                <br />
                <label style="color:black"> Gender:<br /></label> &nbsp;&nbsp;&nbsp <input placeholder="Gender" id="Gender" name="Gender">
                <br />
                <br />
                <label style="color:black"> CNIC:<br /></label> &nbsp;&nbsp;&nbsp <input placeholder="CNIC" id="CNIC" name="CNIC">
                <br />
                <br />
                <label style="color:black"> Section:<br /> </label> &nbsp;&nbsp;&nbsp <input placeholder="Section" id="Section" name="Section">
                <br />
                <br />
                <label style="color:black"> DNO:<br /></label> &nbsp;&nbsp;&nbsp <input placeholder="DNO" id="DNO" name="DNO">
                <br />
                <br />
                <label style="color:black"> Cgpa:<br /></label> &nbsp;&nbsp;&nbsp <input placeholder="Cgpa" id="Cgpa" name="Cgpa">
                <br />
                <br />
                <input type="submit" value="Submit" /> &nbsp;&nbsp;&nbsp; <label>@Model.Item2</label>
            </b>
        </form>
        <h3>TO REMOVE A STUDENT, ENTER his/her RollNo.</h3><br />
        <form method="post" action="./RemoveStudent">
            <b>
                <label style="color:black"> Roll:<br /></label> &nbsp;&nbsp;&nbsp <input placeholder="RollNo." id="RollNumber" name="input">
                <br />
                <br />
                <input type="submit" value="Submit" /> &nbsp;&nbsp;&nbsp; <label>@Model.Item3</label>
            </b>
        </form>
    </div>
</body>
</html>